<div class="container">
  <h1>All Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <%= link_to cocktail_path(cocktail), class: 'card-cocktail-link' do %>
          <div class="card-cocktail-content" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= cocktail.image_url %>')">
            <p>
                <%= cocktail.name %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
